.title {
    position: absolute;
    top: 1em;
    left: 1em;
    color: #000;
    cursor: pointer;
}

#timer {
    position: absolute;
    top: 2em;
    right: 2em;
    font-size: 1.5em;
}

body {
    font-family: 'Cascadia Code', monospace !important;
    user-select: none;
    background-color: #fafafa;
}

#settingsButton {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    font-size: 2em;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    background-color: #eeeeeeaa;
    border: 2px #fff solid;
    color: #333;
    backdrop-filter: blur(10px);
    transition: all 0.2s;
}

#settingsButton:hover {
    background-color: #ddd;
    border: 2px #000 solid;
    color: #000;
    transform: scale(1.1);
    box-shadow: 0 0 5px #00000044;
}

#comingSoon {
    position: absolute;
    bottom: 0.5em;
    left: 0.5em;
    font-size: 2em;
    border-radius: 10px;
    width: fit-content;
    height: 2em;
    background-color: #f3f1fcaa;
    border: 2px #fff solid;
    color: #333;
    backdrop-filter: blur(10px);
    transition: all 0.2s;
}

#comingSoon:hover {
    background-color: #cfcae3aa;
    border: 2px #000 solid;
    color: #000;
    transform: scale(1.1);
    box-shadow: 0 0 5px #00000044;
}

#gogo {
    background-color: #88a;
    font-size: 2em;
    box-shadow: 0 0 2.5px #00000044;
}

#vbtn {
    background-color: rgb(152, 152, 206);
    font-size: 1em;
    box-shadow: 0 0 2.5px #00000044;
    word-break: break-all;
    max-width: 90vw;
    min-height: fit-content;
}

#vbtn:hover {
    background-color: #77a;
    transform: scale(1.1);
    box-shadow: 0 0 5px #00000044;
}

#gogo:hover {
    background-color: #669;
    transform: scale(1.1);
    box-shadow: 0 0 5px #00000044;
}

#settingsMenu,
#comingSoonModal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    word-break: break-all;
    white-space: pre-wrap;
    text-wrap-mode: wrap !important;
}

@media (max-width: 768px) {
    #text {
        font-size: 0.4em !important;
    }
    #comingSoon {
        font-size: 1em;
        bottom: 2em;
    }
    #mt {
        display: block !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #text {
        font-size: 1em !important;
    }
    #mt {
        display: none !important;
    }
}

@media (min-width: 1024px) {
    #text {
        font-size: 1.3em !important;
    }
    #mt {
        display: none !important;
    }
}